*{
  margin: 0;
  padding: 0;
}
h1{
  font-family: sans-serif;
  text-align: center;
  margin-top: 150px;
  font-size: 150px;
  font-weight: 800;
  color: transparent;
  background-image: url(https://media2.giphy.com/media/v1.Y2lkPTZjMDliOTUyem90bngza3NxMG05Y3JmdGRzODRibXdtMmEzaHhzYWcydjBnZnN3YSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/mrVP75mtRNnmE/giphy.gif);
background-position: center;
  -webkit-background-clip: text;
}
h1{
  font-family: sans-serif;
  text-align: center;
  margin-top: 150px;
  font-size: 150px;
  font-weight: 800;
  color: transparent;
  background-image: url(https://media3.giphy.com/media/v1.Y2lkPTZjMDliOTUydTN1cHM5aHQzdnU3NWk4eGhoZHJraHF3bDhhODFxdjU0am5oM2dmMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Gzoegt8bFwrw3LyLSv/giphy.gif);
background-position: center;
  -webkit-background-clip: text;
}
h1{
  font-family: sans-serif;
  text-align: center;
  margin-top: 150px;
  font-size: 150px;
  font-weight: 800;
  color: transparent;
  background-image: url(https://media2.giphy.com/media/v1.Y2lkPTZjMDliOTUyb25jZW04OWl1aTV2eWVyd25rcXl4Y2JyZ2x6ZHlnNHVkbjV0djV5NCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/wl6l9trsOaktq/giphy.gif);
background-position: center;
  -webkit-background-clip: text;
  }
h1{
  font-family: sans-serif;
  text-align: center;
  margin-top: 150px;
  font-size: 150px;
  font-weight: 800;
  color: transparent;
  background-image: url(https://media2.giphy.com/media/v1.Y2lkPTZjMDliOTUyajlnN2swa3NiMTdxbGRodzM4eDJ1ejFmaG9xMnNmZGF0NG5rcjV5byZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/iBlgTxSS20NLdCxvDW/giphy.gif);
background-position: center;
  -webkit-background-clip: text;
}
